<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reseña de Trabajo</title>
</head>
<body>
<h1>-------Reseñas de Practicas Profesionales----</h1>
<p>Este sitio web le permite a usted escribir una reseña acerca de su Practica Profesional mas reciente.
    Esto le ayudara a muchas universidades determinar su capacidad laboral e igual funciona como buscador
    para que otras compañias lo puedan ubicar para futuras practicas profesionales.

    Empieze su reseña en el nombre de la compañia en donde trabajó:</p>

<p>Ahora seleccione el siguiente hipervinculo para comenzar su reseña</p>
</body>
</html>